<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Receptkönyv</title>

    {% stylesheets
    '@BloggerAdminBundle/Resources/css/receipt.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
    'js/jquery-3.1.1.min.js'
    '@BloggerAdminBundle/Resources/js/ingredients.js'
    '@BloggerAdminBundle/Resources/js/receipt.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
            ],
            toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        });
    </script>
</head>

<body>
<ul>
    <li><a href="ingredient">Alapanyagok</a></li>
    <li><a href="receptek">Receptek</a></li>
    <li><a href="/logout">Kilépés</a></li>
</ul>

<div id="receiptbox">
    <div>Új recept hozzáadása</div>
    <div>Recept neve: <input type="text" name="receipt_name"></div>
    <div>Adag:
        <select name="servings">
            {% for i in 1..10 %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="ingredients">
        Alapanyagok:<br>
        <div class="ingredientrow">
            <select name="ingredient[]" class="ingredient">
                {% for ingredient in ingredients%}
                    <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="piece[]" value="1">
            <select name="unit[]">
                <option value="db">db</option>
                <option value="dkg">dkg</option>
            </select>
        </div>
        <button type="button" name="receipt_addingredient">+</button>
    </div>
    <form method="POST" action="teszt.php">
        <textarea name="szovegmezo"></textarea>
        <input type="submit" value="küldés">
    </form>
</div>

</body>

</html>

